<head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }} | {{ site.title }}</title>
    <link rel="icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/{{ site.data.cdn.fontawesome }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/{{ site.data.cdn.d3 }}/d3.min.js"></script>
{% seo %}
</head>