.c-page {
  margin-top: 60px;
  &__sidebar {
    background-color: #eee;
    padding: 1em;
    @media(min-width: 768px) {
      position: fixed;
      bottom: 0;
      top: 60px;
      padding-top: 40px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
  .content {
    h2, h3 {
      &::before {
        display: block;
        content: "";
        margin-top: -60px; 
        height: 60px;
        visibility: hidden; 
      }
      &::after {
        display: inline-block;
      }
    }
  }
}