<script src="//code.jquery.com/jquery-{{ site.data.cdn.jquery }}.min.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/{{ site.data.cdn.moment }}/moment-with-locales.min.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/{{ site.data.cdn.tether }}/js/tether.min.js" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ site.data.cdn.bootstrap }}/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>