<!DOCTYPE html>
<html lang="{{ site.language }}">
    {% include head.html %}
<body>
    {% include navbar.html %}
    <div class="container p-b-1 p-t-1">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-md-4 col-md-push-8 col-lg-3 col-lg-push-9">
                {% include sidebar.html %}
            </div>
            <main class="col-sm-6 col-sm-pull-6 col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                {{ content }}
            </main>
        </div>
    </div>
    {% include footer.html %}
{% include scripts.html %}
{% if site.tracking_id %}{% include google-analytics.html %}{% endif %}
</body>
</html>
